USE [master]
GO
/****** Object:  Database [QuanLyBanHang]    Script Date: 25/03/2025 11:17:26 AM ******/
CREATE DATABASE [QuanLyBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyBanHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 25/03/2025 11:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [varchar](10) NOT NULL,
	[MAVT] [varchar](10) NOT NULL,
	[SL] [int] NULL,
	[KHUYENMAI] [float] NULL,
	[GIABAN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25/03/2025 11:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [varchar](10) NOT NULL,
	[NGAY] [date] NULL,
	[MAKH] [varchar](10) NULL,
	[TONGTG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/03/2025 11:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DT] [varchar](11) NULL,
	[EMAIL] [varchar](30) NULL,
 CONSTRAINT [PK__KhachHan__603F592C72B15EAF] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 25/03/2025 11:17:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[MAVT] [varchar](10) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](20) NULL,
	[GIAMUA] [money] NULL,
	[SLTON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([MAHD], [MAVT], [SL], [KHUYENMAI], [GIABAN]) VALUES (N'HD001 ', N'VT01 ', 5, NULL, 52000)
INSERT [dbo].[CTHD] ([MAHD], [MAVT], [SL], [KHUYENMAI], [GIABAN]) VALUES (N'HD001 ', N'VT05 ', 10, NULL, 30000)
INSERT [dbo].[CTHD] ([MAHD], [MAVT], [SL], [KHUYENMAI], [GIABAN]) VALUES (N'HD002 ', N'VT03 ', 10000, NULL, 150)
GO
INSERT [dbo].[HoaDon] ([MAHD], [NGAY], [MAKH], [TONGTG]) VALUES (N'HD001 ', CAST(N'2010-05-12' AS Date), N'KH01 ', NULL)
INSERT [dbo].[HoaDon] ([MAHD], [NGAY], [MAKH], [TONGTG]) VALUES (N'HD002 ', CAST(N'2010-05-25' AS Date), N'KH02 ', NULL)
INSERT [dbo].[HoaDon] ([MAHD], [NGAY], [MAKH], [TONGTG]) VALUES (N'HD003 ', CAST(N'2010-05-25' AS Date), N'KH01 ', NULL)
GO
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [DIACHI], [DT], [EMAIL]) VALUES (N'KH01 ', N'Nguyễn Thị Bé ', N'Tân Bình ', N'0913457895', N'bnt@yahoo.com')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [DIACHI], [DT], [EMAIL]) VALUES (N'KH02 ', N'Lê Hoàng Nam ', N'Bình Chánh ', N'0939878987', N'namlehoang@gmail.co
m')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [DIACHI], [DT], [EMAIL]) VALUES (N'KH03 ', N'Trần Thị Chiêu ', N'Tân Bình ', N'0738457895', NULL)
GO
INSERT [dbo].[VatTu] ([MAVT], [TENVT], [DVT], [GIAMUA], [SLTON]) VALUES (N'VT01 ', N'Xi măng ', N'Bao ', 50000.0000, 5000)
INSERT [dbo].[VatTu] ([MAVT], [TENVT], [DVT], [GIAMUA], [SLTON]) VALUES (N'VT02 ', N'Cát ', N'Khối ', 45000.0000, 50000)
INSERT [dbo].[VatTu] ([MAVT], [TENVT], [DVT], [GIAMUA], [SLTON]) VALUES (N'VT03 ', N'Gạch ống ', N'Viên ', 120.0000, 800000)
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HoaDon] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VatTu] ([MAVT])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_VatTu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
USE [master]
GO
